/**
 * -------------------------------------------------------------------------------------------------------------------
 * DISPLAY UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.hidden, .empty\:hidden:empty {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.contents {
  display: contents;
}

@media (--sm) {
  .sm\:hidden {
    display: none;
  }

  .sm\:block {
    display: block;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:table {
    display: table;
  }

  .sm\:table-cell {
    display: table-cell;
  }

  .sm\:contents {
    display: contents;
  }
}

@media (--md) {
  .md\:hidden {
    display: none;
  }

  .md\:block {
    display: block;
  }

  .md\:grid {
    display: grid;
  }

  .md\:flex {
    display: flex;
  }

  .md\:table {
    display: table;
  }

  .md\:table-cell {
    display: table-cell;
  }

  .md\:contents {
    display: contents;
  }
}

@media (--lg) {
  .lg\:hidden {
    display: none;
  }

  .lg\:block {
    display: block;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:table {
    display: table;
  }

  .lg\:table-cell {
    display: table-cell;
  }

  .lg\:contents {
    display: contents;
  }
}

@media (--sm-max) {
  .sm-max\:hidden {
    display: none;
  }
}

@media (--md-max) {
  .md-max\:hidden {
    display: none;
  }
}

@media (--lg-max) {
  .lg-max\:hidden {
    display: none;
  }
}

@media (--xl-max) {
  .xl-max\:hidden {
    display: none;
  }
}

@media (--motion-reduce) {
  .motion-reduce\:hidden {
    display: none;
  }

  .motion-reduce\:block {
    display: block;
  }
}

@media (--supports-hover) {
  .no-touch\:hidden {
    display: none; /* Hide an element on non-touch devices */
  }
}

@media (--supports-touch) {
  .touch\:hidden {
    display: none; /* Hide an element on touch devices */
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * VISIBILITY UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.visibility-hidden {
  visibility: hidden;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * POSITION UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  inset-block-start: var(--sticky-inset-block-start, var(--sticky-offset, 0px));
  transition: inset-block-start 0.2s ease-in-out;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * FLEXBOX UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * GRID UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.span-full {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.column-span-full {
  grid-column: 1 / -1;
}

.row-span-full {
  grid-row: 1 / -1;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * ALIGNMENT UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.content-start {
  align-content: start;
}

.content-center {
  align-content: center;
}

.content-end {
  align-content: end;
}

.content-between {
  align-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: safe center;
}

.justify-end {
  justify-content: safe end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-center {
  justify-items: safe center;
}

.justify-items-end {
  justify-items: safe end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-baseline {
  align-items: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

.place-self-start {
  place-self: start; /* Equivalent to "top left" */
}

.place-self-start-center {
  place-self: start center; /* Equivalent to "top center" */
}

.place-self-start-end {
  place-self: start end; /* Equivalent to "top right" */
}

.place-self-center {
  place-self: center; /* Equivalent to "middle center" */
}

.place-self-center-start {
  place-self: center start; /* Equivalent to "middle start" */
}

.place-self-center-end {
  place-self: center end; /* Equivalent to "middle right" */
}

.place-self-end {
  place-self: end; /* Equivalent to "bottom right" */
}

.place-self-end-start {
  place-self: end start; /* Equivalent to "bottom left" */
}

.place-self-end-center {
  place-self: end center; /* Equivalent to "bottom center" */
}

@media (--sm) {
  .sm\:text-start {
    text-align: start;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-end {
    text-align: end;
  }

  .sm\:content-start {
    align-content: start;
  }
  
  .sm\:content-center {
    align-content: center;
  }
  
  .sm\:content-end {
    align-content: end;
  }
  
  .sm\:content-between {
    align-content: space-between;
  }

  .sm\:justify-start {
    justify-content: start;
  }

  .sm\:justify-center {
    justify-content: safe center;
  }

  .sm\:justify-end {
    justify-content: safe end;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:justify-evenly {
    justify-content: space-evenly;
  }

  .sm\:justify-items-start {
    justify-items: start;
  }

  .sm\:justify-items-center {
    justify-items: safe center;
  }

  .sm\:justify-items-end {
    justify-items: safe end;
  }

  .sm\:justify-self-start {
    justify-self: start;
  }

  .sm\:justify-self-center {
    justify-self: center;
  }

  .sm\:justify-self-end {
    justify-self: end;
  }

  .sm\:align-start {
    align-items: start;
  }

  .sm\:align-center {
    align-items: center;
  }

  .sm\:align-end {
    align-items: end;
  }

  .sm\:align-baseline {
    align-items: baseline;
  }

  .sm\:align-self-stretch {
    align-self: stretch;
  }

  .sm\:align-self-start {
    align-self: start;
  }

  .sm\:align-self-center {
    align-self: center;
  }

  .sm\:align-self-end {
    align-self: end;
  }

  .sm\:place-self-start {
    place-self: start; /* Equivalent to "top left" */
  }

  .sm\:place-self-start-center {
    place-self: start center; /* Equivalent to "top center" */
  }

  .sm\:place-self-start-end {
    place-self: start end; /* Equivalent to "top right" */
  }

  .sm\:place-self-center {
    place-self: center; /* Equivalent to "middle center" */
  }

  .sm\:place-self-center-start {
    place-self: center start; /* Equivalent to "middle start" */
  }

  .sm\:place-self-center-end {
    place-self: center end; /* Equivalent to "middle right" */
  }

  .sm\:place-self-end {
    place-self: end; /* Equivalent to "bottom right" */
  }

  .sm\:place-self-end-start {
    place-self: end start; /* Equivalent to "bottom left" */
  }

  .sm\:place-self-end-center {
    place-self: end center; /* Equivalent to "bottom center" */
  }
}

@media (--md) {
  .md\:text-start {
    text-align: start;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-end {
    text-align: end;
  }

  .md\:content-start {
    align-content: start;
  }
  
  .md\:content-center {
    align-content: center;
  }
  
  .md\:content-end {
    align-content: end;
  }
  
  .md\:content-between {
    align-content: space-between;
  }

  .md\:justify-start {
    justify-content: start;
  }

  .md\:justify-center {
    justify-content: safe center;
  }

  .md\:justify-end {
    justify-content: safe end;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:justify-evenly {
    justify-content: space-evenly;
  }

  .md\:justify-items-start {
    justify-items: start;
  }

  .md\:justify-items-center {
    justify-items: safe center;
  }

  .md\:justify-items-end {
    justify-items: safe end;
  }

  .md\:justify-self-start {
    justify-self: start;
  }

  .md\:justify-self-center {
    justify-self: center;
  }

  .md\:justify-self-end {
    justify-self: end;
  }

  .md\:align-start {
    align-items: start;
  }

  .md\:align-center {
    align-items: center;
  }

  .md\:align-end {
    align-items: end;
  }

  .md\:align-baseline {
    align-items: baseline;
  }

  .md\:align-self-stretch {
    align-self: stretch;
  }

  .md\:align-self-start {
    align-self: start;
  }

  .md\:align-self-center {
    align-self: center;
  }

  .md\:align-self-end {
    align-self: end;
  }

  .md\:place-self-start {
    place-self: start; /* Equivalent to "top left" */
  }

  .md\:place-self-start-center {
    place-self: start center; /* Equivalent to "top center" */
  }

  .md\:place-self-start-end {
    place-self: start end; /* Equivalent to "top right" */
  }

  .md\:place-self-center {
    place-self: center; /* Equivalent to "middle center" */
  }

  .md\:place-self-center-start {
    place-self: center start; /* Equivalent to "middle start" */
  }

  .md\:place-self-center-end {
    place-self: center end; /* Equivalent to "middle right" */
  }

  .md\:place-self-end {
    place-self: end; /* Equivalent to "bottom right" */
  }

  .md\:place-self-end-start {
    place-self: end start; /* Equivalent to "bottom left" */
  }

  .md\:place-self-end-center {
    place-self: end center; /* Equivalent to "bottom center" */
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * SIZING UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.size-full {
  width: 100%;
  height: 100%;
}

.min-h-auto {
  min-height: auto;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100svh;
}

.min-h-fill {
  min-height: calc(100svh - var(--sticky-area-height, 0px));

  .shopify-section:first-child [allow-transparent-header] & {
    min-height: calc(100svh - var(--announcement-bar-height, 0px) - var(--countdown-condensed-height, 0px));
  }
}

.min-h-xs {
  min-height: clamp(10rem, 30vmax, 15rem); /* 160px - 240px */
}

.min-h-sm {
  min-height: clamp(15rem, 35vmax, 25rem); /* 240px - 400px */
}

.min-h-md {
  min-height: clamp(20rem, 45vmax, 35rem); /* 320px - 560px */
}

.min-h-lg {
  min-height: clamp(25rem, 55vmax, 45rem); /* 400px - 720px */
}

.min-w-full {
  min-width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.max-w-xs {
  max-width: 26.5rem;
}

.max-w-sm {
  max-width: 36rem;
}

.max-w-md {
  max-width: 48rem;
}

.max-w-lg {
  max-width: 60rem;
}

.max-w-xl {
  max-width: 68rem;
}

.max-w-2xl {
  max-width: 78rem;
}

@media (--sm-max) {
  .sm-max\:w-full {
    width: 100%;
  }
}

@media (--sm) {
  .sm\:min-h-screen {
    min-height: 100svh;
  }

  .sm\:min-h-fill {
    min-height: calc(100svh - var(--sticky-area-height, 0px));
  
    .shopify-section:first-child [allow-transparent-header] & {
      min-height: calc(100svh - var(--announcement-bar-height, 0px) - var(--countdown-condensed-height, 0px));
    }

    .shopify-section:first-child:not(:has([allow-transparent-header])) & {
      min-height: calc(100svh - var(--header-group-height, 0px));
    }
  }

  .sm\:min-h-xs {
    min-height: clamp(10rem, 30vmax, 15rem); /* 160px - 240px */
  }
  
  .sm\:min-h-sm {
    min-height: clamp(15rem, 40vmax, 25rem); /* 240px - 400px */
  }
  
  .sm\:min-h-md {
    min-height: clamp(20rem, 50vmax, 35rem); /* 320px - 560px */
  }
  
  .sm\:min-h-lg {
    min-height: clamp(25rem, 60vmax, 45rem); /* 400px - 720px */
  }

  .sm\:max-w-full {
    max-width: 100%;
  }
  
  .sm\:max-w-xs {
    max-width: 26.5rem;
  }
  
  .sm\:max-w-sm {
    max-width: 36rem;
  }
  
  .sm\:max-w-md {
    max-width: 48rem;
  }
  
  .sm\:max-w-lg {
    max-width: 60rem;
  }
  
  .sm\:max-w-xl {
    max-width: 68rem;
  }
  
  .sm\:max-w-2xl {
    max-width: 78rem;
  }
}

@media (--md) {
  .md\:min-h-screen {
    min-height: 100svh;
  }

  .md\:min-h-fill {
    min-height: calc(100svh - var(--sticky-area-height, 0px));
  
    .shopify-section:first-child [allow-transparent-header] & {
      min-height: calc(100svh - var(--announcement-bar-height, 0px) - var(--countdown-condensed-height, 0px));
    }

    .shopify-section:first-child:not(:has([allow-transparent-header])) & {
      min-height: calc(100svh - var(--header-group-height, 0px));
    }
  }

  .md\:min-h-xs {
    min-height: clamp(10rem, 30vmax, 15rem); /* 160px - 240px */
  }
  
  .md\:min-h-sm {
    min-height: clamp(15rem, 40vmax, 25rem); /* 240px - 400px */
  }
  
  .md\:min-h-md {
    min-height: clamp(20rem, 50vmax, 35rem); /* 320px - 560px */
  }
  
  .md\:min-h-lg {
    min-height: clamp(25rem, 60vmax, 45rem); /* 400px - 720px */
  }

  .md\:max-w-full {
    max-width: 100%;
  }
  
  .md\:max-w-xs {
    max-width: 26.5rem;
  }
  
  .md\:max-w-sm {
    max-width: 36rem;
  }
  
  .md\:max-w-md {
    max-width: 48rem;
  }
  
  .md\:max-w-lg {
    max-width: 60rem;
  }
  
  .md\:max-w-xl {
    max-width: 68rem;
  }
  
  .md\:max-w-2xl {
    max-width: 78rem;
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * MARGIN UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.mx-auto {
  margin-inline: auto;
}

.ms-auto {
  margin-inline-start: auto;
}

.me-auto {
  margin-inline-end: auto;
}

.my-auto {
  margin-block: auto;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * ASPECT RATIO UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.aspect-auto {
  aspect-ratio: auto;
}

.aspect-short {
  aspect-ratio: 4 / 3;
}

.aspect-tall {
  aspect-ratio: 2 / 3;
}

.aspect-portrait {
  aspect-ratio: 4 / 5;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

@media (--sm) {
  .sm\:aspect-auto {
    aspect-ratio: auto;
  }

  .sm\:aspect-short {
    aspect-ratio: 4 / 3;
  }
  
  .sm\:aspect-tall {
    aspect-ratio: 2 / 3;
  }
  
  .sm\:aspect-portrait {
    aspect-ratio: 4 / 5;
  }
  
  .sm\:aspect-square {
    aspect-ratio: 1 / 1;
  }
  
  .sm\:aspect-video {
    aspect-ratio: 16 / 9;
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * GAP UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.gap-0\.5 {
  gap: 0.125rem; /* 2px */
}

.gap-1 {
  gap: 0.25rem; /* 4px */
}

.gap-1\.5 {
  gap: 0.375rem; /* 6px */
}

.gap-2 {
  gap: 0.5rem; /* 8px */
}

.gap-2\.5 {
  gap: 0.625rem; /* 10px */
}

.gap-3 {
  gap: 0.75rem; /* 12px */
}

.gap-3\.5 {
  gap: 0.875rem; /* 14px */
}

.gap-4 {
  gap: 1rem; /* 16px */
}

.gap-4\.5 {
  gap: 1.125rem; /* 18px */
}

.gap-5 {
  gap: 1.25rem; /* 20px */
}

.gap-5\.5 {
  gap: 1.375rem; /* 22px */
}

.gap-6 {
  gap: 1.5rem; /* 24px */
}

.gap-7 {
  gap: 1.75rem; /* 28px */
}

.gap-8 {
  gap: 2rem; /* 32px */
}

.gap-9 {
  gap: 2.25rem; /* 36px */
}

.gap-10 {
  gap: 2.5rem; /* 40px */
}

.gap-11 {
  gap: 2.75rem; /* 44px */
}

.gap-12 {
  gap: 3rem; /* 48px */
}

.gap-14 {
  gap: 3.5rem; /* 56px */
}

.gap-16 {
  gap: 4rem; /* 64px */
}

.gap-20 {
  gap: 5rem; /* 80px */
}

.gap-24 {
  gap: 6rem; /* 96px */
}

@media (--sm) {
  .sm\:gap-0\.5 {
    gap: 0.125rem;
  }

  .sm\:gap-1 {
    gap: 0.25rem;
  }

  .sm\:gap-1\.5 {
    gap: 0.375rem;
  }

  .sm\:gap-2 {
    gap: 0.5rem;
  }

  .sm\:gap-2\.5 {
    gap: 0.625rem;
  }

  .sm\:gap-3 {
    gap: 0.75rem;
  }

  .sm\:gap-3\.5 {
    gap: 0.875rem;
  }

  .sm\:gap-4 {
    gap: 1rem;
  }

  .sm\:gap-4\.5 {
    gap: 1.125rem;
  }

  .sm\:gap-5 {
    gap: 1.25rem;
  }

  .sm\:gap-5\.5 {
    gap: 1.375rem;
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:gap-7 {
    gap: 1.75rem;
  }

  .sm\:gap-8 {
    gap: 2rem;
  }

  .sm\:gap-9 {
    gap: 2.25rem;
  }

  .sm\:gap-10 {
    gap: 2.5rem;
  }

  .sm\:gap-11 {
    gap: 2.75rem;
  }

  .sm\:gap-12 {
    gap: 3rem;
  }

  .sm\:gap-14 {
    gap: 3.5rem;
  }
  
  .sm\:gap-16 {
    gap: 4rem;
  }
  
  .sm\:gap-20 {
    gap: 5rem;
  }

  .sm\:gap-24 {
    gap: 6rem;
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * GRID UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media (--sm) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .sm\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * OBJECT UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.object-cover {
  object-fit: cover;
  object-position: center;
}

.object-contain {
  object-fit: contain;
  object-position: center;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * IMAGE BACKGROUND (shortcut for various utilities)
 * -------------------------------------------------------------------------------------------------------------------
 */

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-background, .image-background-fixed {
  position: absolute;
  width: 100%;
  height: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  object-fit: cover;
  object-position: center;
}

/* Image background fixed simulate the background-attachment: fixed but for plain image. To work properly, a parent
   element must be set to clip using the `clip-inset` utility class */
.image-background-fixed {
  position: fixed;
  height: 100vh !important;
  max-height: none !important; /* Needed for it to work properly */

  @supports (height: 100lvh) {
    height: 100lvh !important;
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * OVERFLOW UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-clip {
  overflow: clip;

  @supports not (overflow: clip) {
    overflow: hidden; /* Fallback for older browsers */
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * ISOLATION UTILITIES
 * -------------------------------------------------------------------------------------------------------------------
 */

.isolate {
  isolation: isolate;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * CONTAINER QUERY UTILITIES (it reuses Tailwind CSS conventions)
 * -------------------------------------------------------------------------------------------------------------------
 */

 .\@container {
  container-type: inline-size;
 }