/**
 * -------------------------------------------------------------------------------------------------------------------
 * LOGIN/REGISTER FORMS
 * -------------------------------------------------------------------------------------------------------------------
 */

.account-forms {
  display: grid;
  align-content: center;

  margin-inline: auto;
  max-width: 26.5rem;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 2rem; /* Allows to separate each block that are inserted dynamically */
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * CUSTOMER ACCOUNT PAGES (GENERAL LAYOUT)
 * -------------------------------------------------------------------------------------------------------------------
 */

.customer-account__inner {
  padding-block: 2rem;

  .customer-account--empty & {
    padding-block: 6rem;
  }
}

.customer-account__header {
  position: relative;
}

@media (--sm-max) {
  .customer-account__nav {
    margin-inline: calc(-1 * var(--container-gutter));
    padding: 1rem var(--container-gutter);
    background: rgb(var(--background-secondary));

    ul {
      display: flex;
      column-gap: 2rem;
      flex-wrap: wrap;
      justify-content: safe center;
    }
  }

  .customer-account__back-button {
    margin-block-end: 1.5rem;
  }
}

@media (--sm) {
  .customer-account__back-button {
    position: absolute;
    inset-block-start: 1rem;
    inset-inline-start: 0;
  }
}

@media (--md) {
  .customer-account {
    display: grid;
    grid-template-columns: minmax(0, 10rem) minmax(0, 1fr);
    padding-block: 4rem;
  }

  .customer-account__inner {
    padding-block: 0;
    margin-inline-end: 10rem; /* We add the same value as the width of the nav to visually align it to the center */
  }
  
  .customer-account__content {
    width: min(66rem, 100%);
    margin-inline: auto;
  }

  .customer-account__nav {
    li {
      margin-block-start: 0.25rem;
  
      &:last-child {
        margin-block-start: 1.5rem; /* This is to separate the logout link */
      }
    }
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * CUSTOMER (LIST OF ORDERS)
 * -------------------------------------------------------------------------------------------------------------------
 */

.order-grid-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 1.25rem;
  padding: 1.25rem;
  border-width: 1px;
}

.order-grid-item__details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.05rem 0.5rem;
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * CUSTOMER (ORDER DETAIL)
 * -------------------------------------------------------------------------------------------------------------------
 */

.order {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  row-gap: 1.5rem;

  .address-list {
    width: 100%;
  }
}

@media (--xl) {
  .order {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 20rem);
    column-gap: 4.75rem;
  }
}

/**
 * -------------------------------------------------------------------------------------------------------------------
 * CUSTOMER (ADDRESSES)
 * -------------------------------------------------------------------------------------------------------------------
 */

.address-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  align-content: start;
  width: min(100%, 42rem);
  margin-inline: auto;
}

.address {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-content: start;
  row-gap: 1rem;
  padding: 1.25rem;
  border-width: 1px;
}

@media (--sm) {
  .address-list {
    gap: 2rem;
  }

  .address {
    padding: 2rem;
  }
}