.rich-text {
  display: grid;
  align-items: start;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  column-gap: 3rem;

  .prose:has(> .button:first-child) {
    > .button {
      margin-block-start: 0;
    }

    > :not(.button) ~ .button {
      margin-block-start: var(--prose-button-spacing);
    }
  }
}